name: Master MLOps CI/CD Orchestrator

on:
  workflow_dispatch:
  schedule:
    # Running the entire pipeline every Monday at 08:00 UTC
    - cron: '0 8 * * 1'

jobs:
  ci_tests:
    name: 1. Run CI Tests
    uses: ./.github/workflows/tests.yml

  ml_pipeline:
    name: 2. Run ML Pipeline
    needs: ci_tests
    uses: ./.github/workflows/pipeline.yml

  model_register:
    name: 3. Register Best Model
    needs: ml_pipeline
    uses: ./.github/workflows/register_model.yml
    with:
      pipeline_run_id: ${{ github.run_id }}
    secrets:
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

  model_deploy:
    name: 4. Deploy Model to Production
    needs: model_register
    uses: ./.github/workflows/deploy.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
